@page "/"

<PageTitle>My Application</PageTitle>

<h1>Hello, world!</h1>

I am Eli, I am a software developer with a bachelor's degree in Computer Science a highly-motivated developer

<SurveyPrompt Title="How is Blazor working for you?" />
